<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href='/static/static/style.css' />
    <meta charset="utf-8">
    <title></title>
</head>
<body>

<ul>
  <li><a href="{{url_for('index')}}">Home</a></li>
  <li><a class="active" href="{{url_for('donors')}}">Donors</a></li>
</ul>

</h1> Welcome {{ name }}! </h1>

<a href="{{url_for('index')}}">Home</a>

<h2>
    Donate your used technology
</h2>
<form method="post" action="/submitDonor">
    <p>Company Name: <input type="text" name="company_name"></p>
    <p>Type: <input type="text" name="type"></p>
    <p>Make: <input type="text" name="make"></p>
    <p>Model: <input type="text" name="model"></p>
    <p>Quantity: <input type="text" name="quantity"></p>
    <p>Address: <input type="text" name="address"> </p>
    <p><input type="submit" value ="submit"></p>
</form>

</body>
</html>
