<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='/static/static/style.css' />
    <meta charset="utf-8">
    <title>Welcome</title>
</head>
<body>
<h1>Welcome</h1>

<h2>
    Login as a supporting organisation
</h2>
<form method="post" action="/loginOrganisation">
    <p>Name: <input type="text" name="name"></p>
    <p><input type="submit" value ="submit"></p>
</form>

<p>Examples of supporting organisations include charities, schools, libraries and local councils.</p>

<h2>
    Login as a donor company
</h2>
<form method="post" action="/loginDonor">
    <p>Name: <input type="text" name="name"></p>
    <p><input type="submit" value ="submit"></p>
</form>

<p>Login here to donate your company’s old technology</p>


</body>
</html>
